<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../static/style.css" /> -->
    <title>Hangman Infinity</title>
    <link rel="stylesheet" href="../static/styles/hangman.css" />
  </head>
  <body>
    <div id="loader">
      <div class="spinner"></div>
    </div>
    <header>
      <h1 class="gametitre">HANGMAN</h1>
      <nav>
        <ul>
          <section class="navigation">
            <li><a href="/index">Accueil</a></li>
            <li><a href="/game">Jouer</a></li>
            <li><a href="/contact">Contact</a></li>
          </section>
        </ul>
      </nav>
    </header>

    <main>
      <div class="hangman-graphic">
        <!-- <pre>{{.HangmanGraphic}}</pre> -->
        <img
          id="hangman-image"
          src="../static/img/hangman/hang{{.Attempts}}.png"
          alt="hangman image"
        />
      </div>
      <div class="right-part">
        <div class="right-part-content">
          {{if .Message}}
          <p style="color: rgb(255, 255, 255)">{{.Message}}</p>
          {{end}}
          <p class="word_guess">{{.Word}}</p>
          <p>Tentatives restantes : {{.Attempts}}</p>
          <p>Lettres essayées : {{range .Tries}}{{.}} {{end}}</p>

          <form action="/hangman" method="POST" onsubmit="return validateForm()">
            <label for="letter">Entrez une lettre ou le mot complet :</label>
            <input
              type="text"
              id="letter"
              name="letter"
              maxlength="20"
              required
              autofocus
              autocomplete="off"
              pattern="[a-zA-ZÀ-ÿ]+"
              title="Seules les lettres sont autorisées (accents inclus)"
            />
            <input type="hidden" name="word" value="{{.Word}}" />
            <input type="hidden" name="toFind" value="{{.ToFind}}" />
            <input type="hidden" name="attempts" value="{{.Attempts}}" />
            <input
              type="hidden"
              name="hangmanPositions"
              value="{{.HangmanPositions}}"
            />
            <input
              type="hidden"
              name="tries"
              value="{{range .Tries}}{{.}},{{end}}"
            />
            <input
              type="hidden"
              name="hangmanGraphic"
              value="{{.HangmanGraphic}}"
            />

            <button type="submit">Tester</button>
          </form>
        </div>
      </div>
    </main>
    <script>
      window.addEventListener("load", function () {
        document.body.classList.add("loaded"); // Ajoute la classe "loaded" pour cacher le loader
      });

      function validateForm() {
        var letter = document.getElementById("letter").value.trim();
        if (letter === "") {
          alert("Veuillez entrer une lettre.");
          return false;
        }
        
        // Vérifie si la chaîne contient des caractères spéciaux, en autorisant les accents
        if (!/^[a-zA-ZÀ-ÿ]+$/.test(letter)) {
          alert("Seules les lettres sont autorisées (accents inclus).");
          return false;
        }
        return true;
      }
    </script>
  </body>
  <script src="../script.js"></script>
</html>
