<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hangman Infinity</title>
    <link rel="stylesheet" href="../static/styles/hangman.css" />
  </head>
  <body>
    <div id="loader">
      <div class="spinner"></div>
    </div>
    <header>
      <h1 class="gametitre">HANGMAN INFINITE</h1>
      <nav>
        <ul>
          <section class="navigation">
            <li><a href="/index">Accueil</a></li>
            <li><a href="/game">Jouer</a></li>
            <li><a href="/contact">Contact</a></li>
          </section>
        </ul>
      </nav>
    </header>

    <main>
      <div class="hangman-graphic">
        <!-- <pre>{{.HangmanGraphic}}</pre> -->
        <img
          id="hangman-image"
          src="../static/img/hangman/hang{{.Attempts}}.png"
          alt="hangman image"
        />
      </div>
      <div class="right-part">
        <div class="right-part-content">
          {{if .Message}}
          <p style="color: rgb(255, 255, 255)">{{.Message}}</p>
          {{end}}

          <p class="word_guess">{{.Word}}</p>
          <p>Tentatives restantes : {{.Attempts}} / 10</p>
          <p>Lettres essayées : {{range .Tries}}{{.}} {{end}}</p>
          <p>SuccessCount : {{.SuccessCount}}</p>

          <form action="/hangmanInfinite" method="post">
            <input type="hidden" name="wordToFind" value="{{.ToFind}}">
            <input type="hidden" name="currentWord" value="{{.Word}}">
            <input type="hidden" name="attempts" value="{{.Attempts}}">
            <input type="hidden" name="tries" value="{{range .Tries}}{{.}},{{end}}">
            <input type="hidden" name="successCount" value="{{.SuccessCount}}">
            <input type="hidden" name="level" value="{{.Level}}">
            <input type="hidden" name="lang" value="{{.Lang}}">
            <input type="text" name="letter" maxlength="30" pattern="[A-Za-zÀ-ÿ]+" required>
            <button type="submit">Essayer</button>
          </form>
        </div>
      </div>
    </main>
    <script>
      window.addEventListener("load", function () {
        document.body.classList.add("loaded"); // Ajoute la classe "loaded" pour cacher le loader
      });

      function validateForm() {
        var letter = document.getElementById("letter").value.trim();
        if (letter === "") {
          alert("Veuillez entrer une lettre.");
          return false;
        }
        
        // Vérifie si la chaîne contient des caractères spéciaux, en autorisant les accents
        if (!/^[a-zA-ZÀ-ÿ]+$/.test(letter)) {
          alert("Seules les lettres sont autorisées (accents inclus).");
          return false;
        }
        return true;
      }
    </script>
  </body>
  <script src="../script.js"></script>
</html>
